<!-- <div class="container-fluid"> -->
    <nav class="navbar navbarr navbar-expand-lg navbar-light bg-dark  pl-4 pr-4">
        <a class="navbar-brand" routerLink="/">E-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngSwitch]="menuType">
          <ul class="navbar-nav mr-auto" *ngSwitchCase="'default'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="saller">Sellar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cart({{cartitem}})</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link cursor " routerLink="/userAuth">Login</a>
              </li>
          </ul>


          <ul class="navbar-nav mr-auto" *ngSwitchCase="'user'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="saller">Sellar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="cartPage">Cart({{cartitem}})</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/userAuth">{{userName | titlecase}}</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link cursor" (click)="userLogout()">LogOut</a>
              </li>
          </ul>



          <!-- for seller -->
          <ul class="navbar-nav mr-auto" *ngSwitchCase="'seller'">
            <li class="nav-item active">
              <a class="nav-link" routerLink="sellerHome">Product List <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" routerLink="seller-add-product">Add Product</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">{{sellerName | titlecase}}</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link cursor" (click)="logout()">LogOut</a>
              </li>
          </ul>
          <form *ngIf="menuType==='default'" class="form-inline my-2 my-lg-0">
            <input #searchInput class="form-control mr-sm-2 searchColor " (keyup)="searchproduts($event)" (blur)="hidesearch()" type="search" placeholder="Search Product" aria-label="Search">
            <button (click)="submitSearch(searchInput.value)" class="btn btn-outline-primary  my-2 my-sm-0" type="submit">Search</button>
            <div class="searchItem" *ngIf="searchResult">
              <li class="listt" *ngFor="let item of searchResult" >
                <a  (mousedown)="redirectToDetails(item.id)">{{item.name}}</a>
              </li>
            </div>
          </form>
        </div>
      </nav>
    <!-- </div> -->