<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="form-group col-md-6 col-md-offset-5 align-center">
            <h1 class="heading mt-4 d-flex justify-content-center align-center">Add New Product </h1>
            <!-- <form #sellerAddProduct="ngForm" (ngSubmit)="sellerAddProduct(sellerAddProduct.value)" class="forms mt-4 p-4"> -->
            <form #sellerAddProduct="ngForm" (ngSubmit)="AddProduct(sellerAddProduct.value)" class="forms mt-4 p-4">
                <div class=" form-group  ">
                    <!-- <p class="productMessage">{{addproductmessage}}</p> -->

                    <!-- <label for=" name">Name:</label> -->
                    <input type="text" class="form-control" id="name" name="name" ngModel
                        placeholder=" Enter Product Name">

                    <!-- <label for="email" class="mt-3">Email address:</label> -->
                    <input type="text" class="form-control mt-3" id="price" name="price" ngModel
                        placeholder="Enter Product Price ">


                    <!-- <label for="password" class="mt-3">Password:</label> -->
                    <input type="text" class="form-control mt-3" id="color" name="color" ngModel
                        placeholder="Enter Product Color">

                    <input type="text" class="form-control mt-3" id="Catagory" name="category" ngModel
                        placeholder="Enter Product Catagory">

                    <textarea class="form-control mt-3" ngModel rows="3" id="Discription" name="discription" placeholder="Discription"></textarea>


                    <input type="text" class="form-control mt-3" id="image" name="image" ngModel
                        placeholder="Enter Product Image URL">

                    <button type="submit" class="btn btn-primary mt-3 btn-sm ">Add Product</button><br>
                </div>

            </form>
        </div>

    </div>