.form-control{
    max-width: 25rem;

}
.forms{
    background-color: #E6E5DF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 0 2px 4px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.07), 0 8px 16px rgba(0,0,0,0.07), 0 16px 32px rgba(0,0,0,0.07), 0 32px 64px rgba(0,0,0,0.07);
}
.link a{
    cursor: pointer;
    color: #0a6ed1	 ;
    text-decoration: underline;
    
}
.form-group input , button{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.errorMessage{
    color: red;
}
