<div class="container mb-3">
    <div class="row d-flex justify-content-center">
        <div *ngIf="!showlogin" class="form-group col-md-6 col-md-offset-5 align-center">
            <h1 class="heading mt-3 d-flex justify-content-center align-center">User SignUP </h1>
            <form #userSignUP="ngForm" (ngSubmit)="userrSignUP(userSignUP.value)" class="forms mt-4 p-4">
                <div class=" form-group  ">
                    <label for=" name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" ngModel #name="ngModel" required placeholder=" Name">
                    <small class="errorMessage" *ngIf="name.invalid && name.touched ">Enter valid name</small>

                    <div>
                    <label for="email" class="mt-3">Email address:</label>
                    <input type="email" class="form-control " id="email" name="email" aria-describedby="emailHelp"
                        ngModel  #email="ngModel" required email placeholder="Email">
                        <small class="errorMessage" *ngIf="email.invalid && email.touched ">Enter valid email</small>
                    </div>
                </div>

                <div>
                <label for="password" class="mt-3">Password:</label>
                <input type="password" class="form-control" id="password" name="password" ngModel
                #password="ngModel" required maxlength="3" maxlength="10"  placeholder="Password">
                    <small class="errorMessage" *ngIf="password.invalid && password.touched ">Enter valid password</small>
                </div>

                <button type="submit" [disabled]="userSignUP.invalid" class="btn btn-primary mt-4 btn-sm ">SignUp</button><br>
                <div class="mt-3 link">
                    <span>Already Have an Account, Click to<a (click)="openLogin()"><i><b> LogIn </b></i></a>.</span>
                </div>
            </form>
        </div>

    </div>


    <!-- login area -->

    <div class="row d-flex justify-content-center mb-3">
        <div *ngIf="showlogin" class="form-group col-md-6 col-md-offset-5 align-center">
            <h1 class="heading mt-3 d-flex justify-content-center align-center  needs-validation">User Login </h1>
            <form #userLogin="ngForm" (ngSubmit)="userrlogIn(userLogin.value)" class="forms mt-4 p-4">
                <div class=" form-group  ">
                    <!-- <p class="errorMessage">{{authError}}</p> -->

                    <label for="email" class="mt-">Email address:</label>
                    <input type="email" class="form-control " id="email" name="email" aria-describedby="emailHelp"
                        ngModel #email="ngModel" required email placeholder="Email">
                        <small class="errorMessage" *ngIf="email.invalid && email.touched ">Enter valid email</small>
                </div>


                <label for="password" class="mt-3">Password:</label>
                <input type="password" class="form-control" id="password" name="password" ngModel
                    placeholder="Password" #password="ngModel" required maxlength="3" maxlength="10">
                    <small class="errorMessage" *ngIf="password.invalid && password.touched ">Enter valid password</small>

                    <div>
                <button type="submit" [disabled]="userLogin.invalid" class="btn btn-primary mt-4 btn-sm ">LogIn</button>
                </div>
                <div class="mt-3 link">
                <span>Don't Have an Account, Click to<a (click)="openSignup()"><i><b> SignUp </b></i></a>.</span>
            </div>
            </form>
        </div>

    </div>
</div>