
<div class="container">
    <h1 class="heading mt-4 d-flex justify-content-center align-center">Searched Item </h1>

    <div class="row mt-4" *ngFor="let item of searchResult">
        <div class="col-sm-6 images">
            <a routerLink="/details/{{item.id}}">

                <img src="{{item.image}}" alt="error">
            </a>
        </div>
    
            <div class="card col-sm-6  ">
                
                <div class="card-header card-body bg-transparent  align-items-center justify-content-center ">
                    <a routerLink="/details/{{item.id}}"> <h3 class="card-title">{{item.name}}</h3></a>
                       
                    <p class="card-text">Price : {{item.price}}</p>
                    <p>Color : {{item.color}}</p>
                    <p>Category : {{item.category}}</p>
                    <p>Discription : {{item.discription}}</p>
                
                </div>

                <div class="card-footer">
                    <a href="#">View Details</a>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
    
</div>